<body>
  <%= render 'home/partials/header' %> 
  <%= render 'home/partials/banner' %>
  
  <section class="py-5">
    <div class="container">
      <h3 class="mb-4">Coleções em Destaque</h3>
      <div class="row g-3">
        <%= render 'home/partials/collection_card' %> 
        <%= render 'home/partials/collection_card' %>
        <%= render 'home/partials/collection_card' %>
      </div>
    </div>
  </section>
  <%= render 'home/partials/product_card' %>
  <%= render 'home/partials/footer' %>
</body>
