<body style="background-color:#FCF7E9;">
  <%= render 'home/partials/header' %> 
  <%= render 'home/partials/banner' %>
  
  
  <%= render 'home/partials/categories' %>
  <%= render 'home/partials/trending_products' %>
  <%= render 'home/partials/product_card' %>
  <%= render 'home/partials/footer' %>
</body>
