<p style="color: green"><%= notice %></p>

<%= render @produto %>

<p>
  <strong>Foto:</strong>
  <% if @produto.foto.attached? %>
    <%= image_tag @produto.foto %>
  <% else %>
    Nenhuma foto adicionada.
  <% end %>
</p>

<div>
  <%= link_to "Edit this produto", edit_produto_path(@produto) %> |
  <%= link_to "Back to produtos", produtos_path %>

  <%= button_to "Destroy this produto", @produto, method: :delete %>
</div>
